<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%style{[%d{HH:mm:ss}]}{blue} %highlight{[%t/%level] (%logger{1}) %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=green, DEBUG=green, TRACE=normal}</Pattern>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss.SSS} [%t/%level] (%logger{1}) %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>